<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Opinion</servlet-name>
        <servlet-class>standard.Opinion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Opinion</servlet-name>
        <url-pattern>/Opinion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewSurvey</servlet-name>
        <servlet-class>standard.NewSurvey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewSurvey</servlet-name>
        <url-pattern>/NewSurvey</url-pattern>
    </servlet-mapping>

</web-app>