.logoresize {
	height: 100%;
    width: auto;
}

.logopadder {
	padding : 10px;
}

.survey-gp {
	border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: #ccc;
    padding: 1em;
}

.surveylistview {
	width: 100%;
}

.footerup {
	border-top-style: solid;
    border-top-width: thin;
    margin-top: 2em;
}

.stimg {
	width : 100%;
	height: auto;
	margin-top: -5em;
	margin-bottom : 3em;
}

.txtfield {
	width :100%;
}

.questionbox {
	margin-top : 1em; 
}